p
{
	 font-family: "Lucida Console", "Courier New", monospace;
	 color: ;
}
.text
{
	font-family: "Times New Roman", Times, serif;
}
.heading
{
	font-size: 80px;
}
.headingg
{
	font-size: 110px;
}